<template>
  <div id="app">
    <p v-if="see">see this text</p>

    <ul>

      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </ul>
    <ul>
      <li>
        {{message}}
      </li>
    </ul>
    <input v-model="innput"/>
    <input v-model="in2"/>
    <h1 v-if="summ()">{{summ()}}</h1>

  </div>
</template>

<style>
  h1 {
    color: red;
  }
</style>


<script>
  export default {
    name: 'app',


    data() {
      return {
        see: true,
        innput: 0,
        in2: 0,
        sum: 0,
        message: 'yessssss' + new Date(),
        todos: [
          {text: '10'},
          {text: '2'},
          {text: '3'},
        ],
      }
    },
    methods: {
      summ: function () {
        return parseInt(this.innput) + parseInt(this.in2);

      }
    }

  }
</script>


